:root {
  --font-family-sans-serif: 'Abhaya Libre', sans-serif;
  --font-family-bold: 'Abhaya Libre bold', sans-serif;
  --font-family-montserrat: 'Montserrat', sans-serif;
  --color-yellow: #fcd536;
}

body {
  font-family: var(--font-family-montserrat);
}

.navbar {
  background-color: #f3f4f7;
}

.about-card {
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0px 16px 32px -17px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 0px 16px 32px -17px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 16px 32px -17px rgba(0, 0, 0, 0.61);
}

.title {
  font-family: var(--font-family-bold);
  position: relative;
}

.title-text {
  position: absolute;
  z-index: 1;
}

.rectangle {
  background-color: var(--color-yellow);
  width: 100px;
  height: 30px;
  position: relative;
  left: -16px;
}

/* SKILLS */
.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 40px;
}

.skill-item {
  display: flex;
  align-items: center;
}

.skill-name {
  min-width: 100px;
  font-family: var(--font-family-bold);
}

.skill-level {
  background-color: gray;
  border-radius: 5px;
  width: 200px;
}

.skill-level-bar {
  height: 14px;
  background-color: var(--color-yellow);
  border-radius: 5px;
}

.skill-inner-text {
  font-size: 10px;
  text-align: right;
  padding-right: 5px;
}
