:root {
  --font-family-sans-serif: 'Abhaya Libre', serif;
  --font-family-montserrat: 'Montserrat', sans-serif;
  --color-yellow: #fcd536;
  --color-gray: #e7e7e7;
}

body {
  font-family: var(--font-family-montserrat);
}

.main_body {
  background-color: var(--color-gray);
}

.app_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #fff;
  margin: 0 100px;
}

@media (max-width: 600px) {
  .app_body {
    margin: 0 15px;
  }
}

.navbar {
  background-color: var(--color-gray);
}

.about-card {
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0px 16px 32px -17px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 0px 16px 32px -17px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 16px 32px -17px rgba(0, 0, 0, 0.61);
}

.title {
  font-weight: bold;
  position: relative;
}

.title-text {
  position: absolute;
  z-index: 1;
}

.rectangle {
  width: 100px;
  height: 30px;
  position: relative;
  left: -16px;
}

.footer {
  background-color: #191919;
  border-top: '1px solid #E7E7E7';
  height: 100px;
  text-align: 'center';
  padding: '20px';
  position: 'fixed';
  left: '0';
  bottom: '0';
  width: '100%';
}

.social-media-links {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.link {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.contact-link {
  font-size: 14px;
  text-decoration: none;
  color: #3e3d3d;
}

.copyright {
  color: #fff;
  font-size: 14px;
}

/* SKILLS */
.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 0px;
}

.skill-item {
  display: flex;
  align-items: center;
}

.skill-name {
  min-width: 110px;
}

.skill-level {
  background-color: gray;
  border-radius: 5px;
  width: 200px;
}

.skill-level-bar {
  height: 14px;
  border-radius: 5px;
}

.skill-inner-text {
  font-size: 10px;
  text-align: right;
  padding-right: 5px;
}

/* EXPERIENCE */
.experience_title {
  font-weight: bold;
}
.experience_duration {
  font-size: 14px;
  color: gray;
}
